{{define "start" -}}

<p>&nbsp;</p>
<center ><h5>Дорогой пользователь, тебе необходимо загадать 2х значное положительное число. </h5>
  <h5>После того, как будешь готов, нажми кнопку нижу: &darr;</h5></center>
  <div class="container mt-4">
    <div class="text-center">
      <a class="btn btn-primary " href="/hypotheses">Загадал</a>
    </div>
  </div>

   {{end}}